<div markdown="1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  I'm Carlos. I'm an embedded systems engineer who lives in the Bay Area, California. 

  I love hardware hacking, science fiction, the outdoors, my cat, and my wife, and not in that order.
  
  To subscribe to the RSS feed, use this [link](http://porter.cloud/atom.xml) with your favorite RSS reader.
  
  Checkout out my resume [here](https://www.scribd.com/document/686517666/cwm-res-phd?secret_password=T1fEklBytBrOPhWqHg3g).
  
  Black Lives Matter.
  
  Questions or comments? Send me an email <a href="mailto:{{ site.author.email | encode_email }}" title="here">here</a>.
</div>