<div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  I'm an embedded systems engineer who lives in the Bay Area, California. UC Davis M.S. 2024 - 2025.
  I love electronics, programmaing, science fiction, the outdoors, my cat, and my wife, and not in that order.</br></br>
  To subscribe to the RSS feed, use this <a href="http://porter.cloud/atom.xml">link</a> with your favorite RSS reader.</br>
  Check out out my resume <a href="//www.scribd.com/document/686517666/cwm-res-phd?secret_password=T1fEklBytBrOPhWqHg3g">here</a>.</br>
  Questions or comments? Send me an email <a href="mailto:{{ site.author.email | encode_email }}">here</a>.</br></br>
  Black Lives Matter.
</div>