<div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  Analog integrated circuits and embedded systems.</br></br>
  UC Davis                        2024 - 2026 </br>
  SpikeGadgets                    2020 - 2024 </br>
  Michigan Scientific Corporation 2019</br>
  Michigan Tech B.S.              2016 - 2018 </br></br>
  Check out out my resume <a href="//www.scribd.com/document/686517666/cwm-res-phd?secret_password=T1fEklBytBrOPhWqHg3g">here</a>.</br>
  Questions or comments? Send me an email <a href="mailto:{{ site.author.email | encode_email }}">here</a>.</br></br>
  Black Lives Matter.
</div>
<hr>